<div>
  <link href="./copyright.css" rel="stylesheet" />
  <div class="copyright-copyright">
    <div class="copyright-max-width max-content-container">
      <span class="copyright-text">
        <span class="copyright-text1">© All rights reserved</span>
        <a
          href="https://www.teleporthq.io"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text2">@TeleportHQ.</span>
        </a>
        <span class="copyright-text3">Powered by</span>
        <a
          href="https://www.vercel.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text4">Vercel</span>
        </a>
        <span class="copyright-text5">. Image source:</span>
        <a
          href="https://www.unsplash.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text6">Unsplash</span>
        </a>
        <span class="copyright-text7">.</span>
      </span>
    </div>
  </div>
</div>
