<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="feature-card-image"
    />
    <h4 class="feature-card-text heading4"><span>Search for ideas</span></h4>
    <span class="feature-card-text1 content-Light">
      <span>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </span>
    </span>
    <span class="feature-card-text2"><span>Get started ></span></span>
  </div>
</div>
