<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navbar-link"><span>Home</span></span>
    <span class="navigation-links-text1 navbar-link"><span>About</span></span>
    <span class="navigation-links-text2 navbar-link">
      <span>Features</span>
    </span>
    <span class="navigation-links-text3 navbar-link"><span>Blog</span></span>
    <span class="navigation-links-text4 navbar-link"><span>Pricing</span></span>
  </nav>
</div>
