<div>
  <link href="./slide.css" rel="stylesheet" />
  <div data-type="slide" class="slide-slide slide">
    <div class="slide-max-width max-content-container">
      <div class="slide-left-side">
        <div class="slide-decorations-container">
          <img
            alt="image"
            src="public/playground_assets/union-200h.png"
            class="slide-dots"
          />
          <div class="slide-squares-container">
            <div class="slide-light-green"></div>
            <div class="slide-orange"></div>
          </div>
        </div>
        <div class="slide-image-container">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1508002366005-75a695ee2d17?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDUxfHxzbWlsZXxlbnwwfHx8fDE2NDM0MDc4MTE&ixlib=rb-1.2.1&w=700"
            class="slide-image"
          />
          <div class="slide-slider-controls">
            <div data-action="previousSlide" class="slide-go-left">
              <svg viewBox="0 0 1024 1024" class="slide-icon">
                <path
                  d="M854 470v84h-520l238 240-60 60-342-342 342-342 60 60-238 240h520z"
                ></path>
              </svg>
            </div>
            <div data-action="nextSlide" class="slide-go-right">
              <svg viewBox="0 0 1024 1024" class="slide-icon2">
                <path
                  d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-right-side">
        <span class="slide-testimonial">
          <span>
            “Love it! I really like the user interface. The sleek aesthetic of
            the software makes it easy and pleasant to use. I am also a big fan
            of the way I can customize and organize different feeds and mail
            sources.”
          </span>
        </span>
        <span class="slide-author"><span>Elisabeth Brooke</span></span>
        <span class="slide-role"><span>Finance Broker</span></span>
      </div>
    </div>
  </div>
</div>
