.testimonial-card21-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.testimonial-card21-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card21-text {
  color: #595959;
  font-size: 1.15rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card21-text1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.testimonial-card21-image {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card21-root-class-name1 {
  align-self: flex-end;
}
.testimonial-card21-root-class-name2 {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .testimonial-card21-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card21-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card21-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card21-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card21-text {
    text-align: left;
  }
}
