<div>
  <link href="./testimonial-card21.css" rel="stylesheet" />
  <div class="testimonial-card21-testimonial-card">
    <div class="testimonial-card21-testimonial">
      <span class="testimonial-card21-text">
        <span>
          An Enthusiastic and Driven Engineer, with great practical and hands on
          experience in the fields of IoT, Web Development, and ML, Now deep
          diving in the world of Blockchain
        </span>
      </span>
      <span class="testimonial-card21-text1"><span>Ankit Mawle</span></span>
    </div>
    <img
      alt="profile"
      src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxwb3J0cmFpdHxlbnwwfHx8fDE2MjYzNzg5NzI&ixlib=rb-1.2.1&h=1200"
      class="testimonial-card21-image"
    />
  </div>
</div>
